@use 'variaveis';

.header {
    position: sticky;
    top: 0;
    right: 0;
    background-color: transparent;

    &__container {
        padding: 0 24px;
        display: flex;
        justify-content: flex-end;

        @media (max-width: 1024px) {
            display: none;
        }
    }

    &__logo {
        padding-top: 8px;

        &__link {
            img {
                height: 64px;
                margin-left: 256px;
            }
        }
    }
}