@use 'variaveis';

.members {
    &__content {
        padding-top: 80px;
        padding-right: 256px;

        @media (max-width: 1024px) {
            display: block;
            width: 100%;
            padding: 0;
        }
    }

    &__tabs {
        display: flex;

        @media (max-width: 1024px) {
            display: block;
        }

        &__button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 128px;
            height: 60px;
            font-size: 48px;
            font-weight: normal;
            background-color: transparent;
            color: variaveis.$corTextoSecundario;
            cursor: pointer;
            border: none;

            @media (max-width: 1024px) {
                display: block;
                justify-content: start;
            }

            &--is-active {
                text-decoration: underline;
            }
        }
    }

    &__bio {
        padding: 24px;
        margin-top: 24px;
        display: none;
        align-items: center;


        &--is-active {
            display: flex;

            @media (max-width: 1024px) {
                display: block;
            }
        }

        img {
            height: 240px;
            margin-top: 24px;
        }

        &__description {
            display: block;
            margin-left: 80px;

            @media (max-width: 1024px) {
                margin-left: 0;
            }

            p {
                margin-bottom: 8px;

                i {
                    font-family: sans-serif;
                }
            }
        }
    }
}